@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  max-width: 760px;
  margin: 0 auto;
}

.bg_img {
  background-image: url(images/pexels-dima-valkov-3734025.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1300px;
}

main {
  background-color: cornsilk;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Montserrat;
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
  /* padding-bottom: 0px; */
}

h4 {
  margin-top: 0px;
}
nav ul {
  background-color: khaki;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  list-style-type: none;
  padding: 15px;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-family: Montserrat;
}
